In [1]:
%matplotlib inline
%load_ext autoreload
%load_ext lab_black
%load_ext autotime
%autoreload 2

In [2]:
import copy


def show_graph(graph):
    def show_without_nan(matrix):
        display(copy.deepcopy(matrix).fillna("_"))
        return

    show_without_nan(graph.adjacency_matrix)
    for feature in graph.feature_matrix.keys():
        print(feature)
        show_without_nan(graph.feature_matrix[feature])
    return

time: 6.29 ms

# Create your graph representing network

In [3]:
import graphtorch as gt

in_dim = 2
hidden_node_dims = [2, 4, 3]
out_dim = 3
graph = gt.Graph(in_dim, out_dim, hidden_node_dims)

show_graph(graph)

        I:0 H:0 H:1 H:2 O:0
FROM\TO
I:0       _   _   _   _   _
H:0       _   _   _   _   _
H:1       _   _   _   _   _
H:2       _   _   _   _   _
O:0       _   _   _   _   _

sparsity

        I:0 H:0 H:1 H:2 O:0
FROM\TO
I:0       _   _   _   _   _
H:0       _   _   _   _   _
H:1       _   _   _   _   _
H:2       _   _   _   _   _
O:0       _   _   _   _   _

wire

        I:0 H:0 H:1 H:2 O:0
FROM\TO
I:0       _   _   _   _   _
H:0       _   _   _   _   _
H:1       _   _   _   _   _
H:2       _   _   _   _   _
O:0       _   _   _   _   _

dimension

        I:0 H:0 H:1 H:2 O:0
FROM\TO
I:0       2   _   _   _   _
H:0       _   2   _   _   _
H:1       _   _   4   _   _
H:2       _   _   _   3   _
O:0       _   _   _   _   3

time: 1.05 s

# Split input, output layer to individual nodes

In [4]:
in_dim = 2
hidden_node_dims = [2, 4, 3]
out_dim = 3
graph = gt.Graph(
    in_dim, out_dim, hidden_node_dims, split_input_layer=True, split_output_layer=True
)

show_graph(graph)

        I:0 I:1 H:0 H:1 H:2 O:0 O:1 O:2
FROM\TO
I:0       _   _   _   _   _   _   _   _
I:1       _   _   _   _   _   _   _   _
H:0       _   _   _   _   _   _   _   _
H:1       _   _   _   _   _   _   _   _
H:2       _   _   _   _   _   _   _   _
O:0       _   _   _   _   _   _   _   _
O:1       _   _   _   _   _   _   _   _
O:2       _   _   _   _   _   _   _   _

sparsity

        I:0 I:1 H:0 H:1 H:2 O:0 O:1 O:2
FROM\TO
I:0       _   _   _   _   _   _   _   _
I:1       _   _   _   _   _   _   _   _
H:0       _   _   _   _   _   _   _   _
H:1       _   _   _   _   _   _   _   _
H:2       _   _   _   _   _   _   _   _
O:0       _   _   _   _   _   _   _   _
O:1       _   _   _   _   _   _   _   _
O:2       _   _   _   _   _   _   _   _

wire

        I:0 I:1 H:0 H:1 H:2 O:0 O:1 O:2
FROM\TO
I:0       _   _   _   _   _   _   _   _
I:1       _   _   _   _   _   _   _   _
H:0       _   _   _   _   _   _   _   _
H:1       _   _   _   _   _   _   _   _
H:2       _   _   _   _   _   _   _   _
O:0       _   _   _   _   _   _   _   _
O:1       _   _   _   _   _   _   _   _
O:2       _   _   _   _   _   _   _   _

dimension

        I:0 I:1 H:0 H:1 H:2 O:0 O:1 O:2
FROM\TO
I:0       1   _   _   _   _   _   _   _
I:1       _   1   _   _   _   _   _   _
H:0       _   _   2   _   _   _   _   _
H:1       _   _   _   4   _   _   _   _
H:2       _   _   _   _   3   _   _   _
O:0       _   _   _   _   _   1   _   _
O:1       _   _   _   _   _   _   1   _
O:2       _   _   _   _   _   _   _   1

time: 98.4 ms

# Wire network by yourself

In [5]:
in_dim = 2
hidden_node_dims = [2, 4, 3]
out_dim = 3
graph = gt.Graph(in_dim, out_dim, hidden_node_dims)

graph["I:0", "H:0"] = True
graph["H:0", "H:1"] = True
graph["H:1", "H:2"] = True
graph["H:2", "O:0"] = True

show_graph(graph)

        I:0   H:0   H:1   H:2   O:0
FROM\TO
I:0       _  True     _     _     _
H:0       _     _  True     _     _
H:1       _     _     _  True     _
H:2       _     _     _     _  True
O:0       _     _     _     _     _

sparsity

        I:0 H:0 H:1 H:2 O:0
FROM\TO
I:0       _   1   _   _   _
H:0       _   _   1   _   _
H:1       _   _   _   1   _
H:2       _   _   _   _   1
O:0       _   _   _   _   _

wire

,I:0,H:0,H:1,H:2,O:0
FROM\TO,,,,,
I:0,_,<function default_wire at 0x7f51eeaff268>,_,_,_
H:0,_,_,<function default_wire at 0x7f51eeaff268>,_,_
H:1,_,_,_,<function default_wire at 0x7f51eeaff268>,_
H:2,_,_,_,_,<function default_wire_to_output at 0x7f51eeaf...
O:0,_,_,_,_,_

dimension

        I:0 H:0 H:1 H:2 O:0
FROM\TO
I:0       2   _   _   _   _
H:0       _   2   _   _   _
H:1       _   _   4   _   _
H:2       _   _   _   3   _
O:0       _   _   _   _   3

time: 72.4 ms

# Generate network from your graph

In [6]:
layer = gt.GraphLayer(graph)
layer.wires

ModuleDict(
  (I:0_H:0): Sequential(
    (0): Linear(in_features=2, out_features=2, bias=True)
    (1): BatchNorm1d(2, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (2): ReLU()
  )
  (H:0_H:1): Sequential(
    (0): Linear(in_features=2, out_features=4, bias=True)
    (1): BatchNorm1d(4, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (2): ReLU()
  )
  (H:1_H:2): Sequential(
    (0): Linear(in_features=4, out_features=3, bias=True)
    (1): BatchNorm1d(3, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (2): ReLU()
  )
  (H:2_O:0): Sequential(
    (0): Linear(in_features=3, out_features=3, bias=True)
  )
)

time: 13 ms

In [7]:
import torch

layer(torch.randint(5, (10, in_dim)).float())

tensor([[ 0.3095,  0.3081, -0.1548],
        [ 0.0761,  0.0871, -0.1922],
        [-0.3464, -0.1210, -0.2834],
        [-0.3464, -0.1210, -0.2834],
        [-0.1941, -0.1688, -0.2355],
        [-0.3464, -0.1210, -0.2834],
        [ 0.5797,  0.5639, -0.1114],
        [-0.3464, -0.1210, -0.2834],
        [-0.3464, -0.1210, -0.2834],
        [-0.3464, -0.1210, -0.2834]], grad_fn=<AddmmBackward>)

time: 161 ms